
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model bool
<span>
    @(Model ? Html.Raw("<i class=\"bi bi-check-square\"></i>") : Html.Raw("<i class=\"bi bi-square\"></i>"))
</span>
